# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\学习\笔记\Java\一站式学习Java网络编程 全面理解BIONIOAIO\资料+源码\nio-chatroom\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
